# Исключаем виртуальное окружение
venv
.venv
.build_venv
.rag_build_venv

# Исключаем кэш Python
__pycache__
*.pyc

# Исключаем файлы с секретами и переменными окружения
.env
.env.*

# Исключаем служебные файлы Git и IDE
.git
.gitignore
.idea
.vscode