GIGACHAT_API_KEY=your_api_key
ROCKETCHAT_ENABLED=1
ROCKETCHAT_BASE_URL=https://rocketchat-student.21-school.ru
ROCKETCHAT_USER=username@student.21-school.ru
ROCKETCHAT_PASSWORD=password
ROCKETCHAT_SEARCH_COUNT=50
LLM_TEMPERATURE=0.7
LLM_MAX_TOKENS=2000
MAX_PROJECT_SUGGESTIONS=5
PROJECT_CONFIRMATION_REQUIRED=true